@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    height:100%;
    max-height:100vh;
    background-color:#ebebeb;
}


header{
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 5%;
    top:0;
    width: 100%;
    position:fixed;
}

main{
    max-width:1000px;
    margin:0px auto;
}

#header-img{
    margin-right:auto;
    height:auto;
    max-height:60px;
}

.nav-links{
    list-style: none;  
}

.nav-link{
    display: inline-block;
    padding:0 20px;
}

.nav-links li:nth-child(4){
    padding:0 0 0 20px;
}

.nav-link button{
    border: 2px lightskyblue solid;
    border-radius:12px;
    background-color:white;
    padding: 5px 7px;
    font-size:1rem;
    color:royalblue;
    font-family:"Bebas Neue", monospace;
}

.nav-link button:hover{
    cursor:pointer;
    padding:8px 11px;
    background-color: rgb(29, 119, 192);
    color: white;
    border: 2px white solid;
    font-size: 18px;
}

.nav-link a{
    text-decoration: none;
    font-family:"Bebas Neue", monospace;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

#cta{ 
    margin: 100px auto 30px auto;
    height:200px;
}

#cta form{
    display:flex;
    flex-direction: column;
    margin:0 auto 0 auto;
    justify-content:start;
    width:100%;
    height: 200px;
    padding:0 5% 0 auto;
}

#cta form input{
    margin:20px auto 0 auto;
    width: 450px;
}

#cta h1{
    color: rgb(56, 175, 223);
    margin:0 auto 15px auto;
    font-family:"Bebas Neue", monospace;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

#email{
    text-align: center;
    line-height: 25px;
}

#submit{
    margin:20px auto 0 auto;
    width: 250px;
    border:0px;
    border-radius: 5px;
    color: rgb(56, 175, 223);
    background-color: white;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
    padding:10px 0px;
}

#submit:hover{
    background-color: royalblue;
    cursor:pointer;
    color: white;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 10% 0 10%;
}

.icon {
height: 97px;
width:87px;
margin-bottom:20px;
}

.description-text{
    margin-left:20px;
}

.description h2 {
    font-family:"Bebas Neue", monospace;
    color: white;
    text-shadow:1px 1px 0px grey, 
                -1px -1px 0px grey, 
                1px -1px 0px grey, 
                -1px 1px 0px grey;
    
} 

#video{
    display: block;
    margin:100px auto 100px auto;
}


#offers{
    display: flex;
    justify-items: center;
    margin:auto 5% auto 5%;
}

.offerbox{
    display: flex;
    flex-direction: column;
    align-content: center;
    border:3px grey solid;
    width:calc(100%/3);
    height:350px;
    margin: 10px;
}


@media (max-width:850px) {
    .description{
        padding: 25px 10%;
    }

    #offers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offerbox{
        display: flex;
        flex-direction: column;
        align-content: center;
        border:3px grey solid;
        min-width:300px;
        height:350px;
        margin: 10px;
    }

    #video{
        width:430px;
        height: 300px;
    }
}

@media (max-width:700px) {
    
    .nav-link, .nav-links li:nth-child(4){
        padding:5px;
    }   

}


.offerbox h3{
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Bebas Neue";
    background-color: royalblue;
    border: 1px royalblue solid;
    box-sizing: border-box;
}

.offerbox h4{
    margin: 30px auto 30px auto;
    font-size: 22px;
}

.offerbox span{
    margin:0px auto 30px auto;
    line-height: 30px;
    text-align: center;
}

.offerbox button{
    width: 150px;
    margin: 0px auto 0px auto;
    padding: 8px 0 8px 0;
}

.offerbox button:hover{
    cursor: pointer;
    background: white;
}

footer{
    margin-top:50px ;
    background-color:royalblue;
    width: 100%;
    height:40px;
}